/* Dark Mode styles */

.App.dark {
  background-color: #121212;
  color: #ffffff;
}

.App.dark .App-header {
  background-color: #1e1e1e;
  color: #ffffff;
}

.App.dark .toggle-button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.App.dark .toggle-button:hover {
  background-color: #555;
}

.App.dark .background {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.App.dark .dark-text {
  color: #fff;
}