.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.App-toggle button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.App-toggle button:focus {
  outline: none;
}

.App-toggle button img {
  width: 24px;
  height: 24px;
}

@media (prefers-color-scheme: dark) {
  .App {
    filter: invert(1);
  }
  .App-link {
    color: lightgray;
  }
  .App-header {
    background-color: #282c34;
  }
}
@media (prefers-color-scheme: light) {
  .App {
    filter: invert(0);
  }
  .App-header {
    background-color: #f0f0f0;
  }
}

@keyframes toggle-switch {
  from {
    right: 20px;
  }
  to {
    right: 80px;
  }
}

.App-toggle button:hover {
  animation: toggle-switch 0.5s ease;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: #f0f0f0;
  color: black;
}

body {
  background-color: #f0f0f0;
}