/* global imports for MUI and custom components */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
/* Import Material UI components and create a custom theme */
@import "~@mui/material/styles";
/* Import custom components */
@import "./Context/DarkMode";